@model Rehabilitation.Models.Account

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="login-page">
            <div class="form">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Username)

                @Html.PasswordFor(model => model.Password, new { placeholder = "Mật khẩu hiện tại" })
                @Html.ValidationMessageFor(model => model.Password)

                @Html.PasswordFor(model => model.NewPassword, new { placeholder = "Mật khẩu mới" })
                @Html.ValidationMessageFor(model => model.NewPassword)

                @Html.PasswordFor(model => model.ConfirmPassowrd, new { placeholder = "Xác nhận mật khẩu mới" })
                @Html.ValidationMessageFor(model => model.ConfirmPassowrd)

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Role)

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Created)
                <input type="submit" value="lưu" />
                <label>@ViewBag.Text</label>
            </div>
        </div>
    }
</body>
</html>
